.profile-title {
    font-weight: bold;
    padding-top: 100px;
    justify-content: center;
    font-family: monospace;
}


.justify-content-center {
    padding-top: 50px 50px 50px 50px;
    color: navajowhite;
}

.btn {
    margin: 15px 10px 10px 10px;
    font-family: monospace;
}

.user-content {
    font-family: monospace;
}