.profile-title {
    font-weight: bold;
    padding-top: 100px;
    justify-content: center;
}

.justify-content-center {
    padding-top: 50px 50px 50px 50px;
    color: navajowhite;
}

.btn {
    margin: 10px 10px 10px 10px;
}