.profile-title {
    font-weight: bold;
    padding-top: 100px;
    justify-content: center;
}

.justify-content-center {
    padding-top: 50px 50px 50px 50px;
    color: navajowhite;
}

.update-button {
    padding: 10px 10px 10px 10px;
}

.delete-button {
    padding: 10px 10px 10px 10px;

}