.movie-info {
    padding-top: 80px;
}

.bold {
    font-family: monospace;
    font-weight: bold;
    font-size: x-large;
    color: NavajoWhite;
}

.content {
    font-family: monospace;
    color: NavajoWhite;
}

img {
    justify-content: center;
}