$primary: NavajoWhite;
$body-bg: turquoise;

body {
    background: url('../sl_121019_25870_67.jpg') no-repeat center center fixed;
    background-size: cover;
}

@import '../node_modules/bootstrap/scss/bootstrap.scss'