$primary: navajowhite;
$body-bg: turquoise;

body {
    background: url('../sl_121019_25870_67.jpg') no-repeat center center fixed;
    background-size: cover;
}

.button:hover {
    background-color: turquoise;
}

@import '../node_modules/bootstrap/scss/bootstrap.scss'